.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .left-div {
    margin-top: 40px;
    padding-right: 30px;
    width: 50%;
    background-color: #fff;
    h1{
        margin: 36px 0;
    }
    h2{
        margin: 26px 0;
    }
  }
  
  // .right-div {
  //   width: 50%;
  //   background-image: url('../../../resources/img/black-widow-char.7fe18d73.jpg');
  //   height: 70vh;
  //   background-repeat: no-repeat;
  //   position: relative;
  // }

  // .eye{
  //   width: 110px;
  //   height: 110px;
  //   position: absolute;
  //   background-image: url('../../../resources/img/black-widow-eye.7ca65830.png');
  //   top: auto;
  //   left: 165.5px;
  //   bottom: 53.5px;
  //   rotate: (270deg);
  //   animation: eye-animation 10s infinite;
  // }

  .right-div {
    width: 50%;
    background-image: url('../../../resources/img/black-widow-char.7fe18d73.jpg');
    height: 550px;
    background-repeat: no-repeat;
    position: relative;
  
  }
  .eye {
    width: 110px;
    height: 110px;
    position: absolute;
    background-image: url('../../../resources/img/black-widow-eye.7ca65830.png');
    top: auto;
    left: 30%; // Половина ширины родительского блока
    bottom: 76.5px;
    transform: translateX(-50%) rotate(270deg); // Сдвиг на половину ширины глаза влево
    animation: eye-animation 10s infinite;
  }

  @keyframes eye-animation {
    0% {
      transform: rotate(270deg);
    }
    25% {
      transform: rotate(300deg);
    }
    50% {
      transform: rotate(250deg);
    }
    75% {
      transform: rotate(280deg);
    }
    100% {
      transform: rotate(270deg);
    }
  }